<div class="bannerSection bg-lightgreen">
    <div class="container">
        <div class="banner">
            <p>加入會員取得 9 折優惠<button type="button" class="btn text-white">馬上註冊</button></p>
        </div>
    </div>
</div>