<header class="header">
    <div class="container">
        <div class="nav d-flex">
            <h1 class="logo">
                <a href="#">URBNSTEP</a>
            </h1>

            <ul class="pageLink d-flex">
                <li><a href="#" class="text-black">商品列表</a></li>
                <li><a href="#" class="text-black">品牌故事</a></li>
            </ul>
            <div class="member"><a href="#"><i class="bi bi-person"></i></a></div>
        </div>
    </div>
</header>