<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <Section class="product-list">
      <div class="container">
        <div class="breadCrumbs d-flex">
          <a href="#" class="text-gray">首頁</a>
          <span class="divider text-lightgray">/</span>
          <a href="#" class="text-black">所有商品</a>
        </div>


        <h2 class="index-title">所有商品</h2>
        

        <div class="content d-flex">


          <ul class="product-list">
            <li class="green"><a href="#">所有商品</a></li>
            <li><a href="#">慢跑鞋</a></li>
            <li><a href="#">滑板鞋</a></li>
            <li><a href="#">厚底鞋</a></li>
            <li><a href="#">限定 / 聯名企劃</a></li>
          </ul>

          <div class="product-list-container">
            <ul class="d-flex card-row">
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
            </ul>


        </div>
      </div>
    </Section>
    

    <%- include('./layout/bannerSection'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
