<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <Section class="product">
      <div class="container">
        <div class="breadCrumbs d-flex">
          <a href="#" class="text-gray">首頁</a>
          <span class="divider text-lightgray">/</span>
          <a href="#" class="text-black">所有商品</a>
        </div>


        <h2 class="index-title">所有商品</h2>

        <div class="content d-flex">


          <ul class="product-list">
            <li><a href="#">所有商品</a></li>
            <li><a href="#">慢跑鞋</a></li>
            <li><a href="#">滑板鞋</a></li>
            <li><a href="#">厚底鞋</a></li>
            <li><a href="#">限定 / 聯名企劃</a></li>
          </ul>

          <div class="product-list-container">
            <ul class="d-flex card-row">
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-1.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-2.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-3.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-4.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-5.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-6.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-7.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-8.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
              <li class="column">
                <div class="card">
                  <div class="img"><img src="../assets/images/2025-week2/product-9.png" alt="product"></div>
                  <div class="product-name">PLATFORM 404</div>
                  <div class="product-price">$2,600</div>
                </div>
              </li>
            </ul>

            <ul class="pagination d-flex">
              <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
            </ul>


        </div>
      </div>
    </Section>
    

    <%- include('./layout/bannerSection'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
